/* styles for this sample only */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    color: #555;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: block;
}

.container-header {
    padding: 20px 0;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(9, 30, 66, .04), 0px 20px 250px 0px rgba(9, 30, 66, .04);
    box-shadow: 0px 10px 20px 0px rgba(9, 30, 66, .04), 0px 20px 250px 0px rgba(9, 30, 66, .04);
    background: #ffffff;
}

.container-body {
    margin-top: 40px;
    min-height: 100px;
    float: none;
    clear: both;
}

.header {
    text-align: center;
}

.header a {
    padding: 30px 0 0;
    display: block;
    font-size: 48px;
    text-decoration: none;
    color: #555;
}

.header p {
    margin: 10px 0 40px 0;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.mobile > ul {
    z-index: 1;
}

.stellarnav > ul li ul {
    color: #555;
    border: 1px solid rgba(0, 0, 0, .09);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(9, 30, 66, .06);
    box-shadow: 0px 10px 20px 0px rgba(9, 30, 66, .06);
}

.stellarnav > ul li ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.stellarnav ul ul ul {
    top: 0;
    left: 218px;
}

.has-sub a {
    padding: 20px 20px !important;
}

.has-sub li:hover {
    background: #f3f1f1;
}

li .fa-chevron-down {
    float: right;
}

.article {
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    border: none;
    float: left;
}

.ss-full-width {
    padding-top: 0;
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}

#content_box {
    float: left;
    width: 100%;
}

.post {
    float: left;
    width: 100%;
}

article header {
    float: left;
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Roboto';
    color: #091e42;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
}

header h1 {
    margin-top: 0;
}

.page h1.title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

h1.title {
    font-weight: bold;
    color: #000000;
}

.post-content {
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
}

p {
    margin-bottom: 12px;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

.post-content img {
    vertical-align: middle;
}

.home-category img {
    padding: 0 6px 0px 6px;
}

.home-category div {
    padding: 0;
    margin-bottom: 7px;
}

img, video, object {
    max-width: 100%;
    height: auto !important;
}

article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}

h2 {
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 12px;
    color: #444;
}

strong, b {
    font-weight: 700;
    color: #000000;
}

article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: .3em auto .5em auto;
    display: block;
}

#pt-cv-view-ff5c98aqvp .pt-cv-title a, #pt-cv-view-ff5c98aqvp .panel-title {
    font-family: 'Roboto', Arial, serif !important;
    font-size: 17px !important;
    line-height: 1.3 !important;
    color: #2b2b2b !important;
    display: block !important;
    text-align: center !important;
    clear: both !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-title a:hover, #pt-cv-view-ff5c98aqvp .panel-title:hover {
    font-family: 'Roboto', Arial, serif !important;
    font-size: 17px !important;
    line-height: 1.3 !important;
    color: #1b73b7 !important;
    display: block !important;
    text-align: center !important;
    clear: both !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-hover-wrapper::before {
    background-color: rgba(0, 0, 0, .3) !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-content-item:hover .pt-cv-hover-wrapper::before {
    background-color: rgba(51, 51, 51, .6) !important;
}

#pt-cv-view-ff5c98aqvp:not(.pt-cv-nohover) .pt-cv-mask * {
    color: #fff;
}

#pt-cv-view-ff5c98aqvp .pt-cv-carousel-caption {
    background-color: rgba(51, 51, 51, .6) !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-specialp {
    background-color: #CC3333 !important
}

#pt-cv-view-ff5c98aqvp .pt-cv-specialp * {
    color: #fff !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-pficon {
    color: #bbb !important;
}

#pt-cv-view-ff5c98aqvp .add_to_cart_button, #pt-cv-view-ff5c98aqvp .add_to_cart_button * {
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-ff5c98aqvp .woocommerce-onsale {
    color: #ffffff !important;
    background-color: #ff5a5f !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-readmore {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-readmore:hover {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-ff5c98aqvp + .pt-cv-pagination-wrapper .pt-cv-more-inactive, #pt-cv-view-ff5c98aqvp + .pt-cv-pagination-wrapper .pagination a {
    font-family: 'Roboto', Arial, serif !important;
    color: #3f3f3f !important;
    background-color: #ffffff !important;
}

#pt-cv-view-ff5c98aqvp + .pt-cv-pagination-wrapper .pt-cv-more, #pt-cv-view-ff5c98aqvp + .pt-cv-pagination-wrapper .pagination .active a {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    background-image: none !important;
}

.pt-cv-pagination-wrapper .pt-cv-more {
    padding: 5px 50px 5px 50px;
}

[id^='pt-cv-filter-bar-ff5c98aqvp'] .active.pt-cv-filter-option, [id^='pt-cv-filter-bar-ff5c98aqvp'] .active .pt-cv-filter-option, [id^='pt-cv-filter-bar-ff5c98aqvp'] .selected.pt-cv-filter-option, [id^='pt-cv-filter-bar-ff5c98aqvp'] .dropdown-toggle {
    color: #fff !important;
    background-color: #00aeef !important;
}

[id^='pt-cv-filter-bar-ff5c98aqvp'] .pt-cv-filter-title {
    color: #fff !important;
    background-color: #00aeef !important;
}

#pt-cv-gls-ff5c98aqvp li a.pt-active {
    color: #fff !important;
    background-color: #ff5a5f !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-gls-header {
    color: #fff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-ff5c98aqvp .img-rounded, #pt-cv-view-ff5c98aqvp .pt-cv-hover-wrapper {
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;
}

#pt-cv-view-ff5c98aqvp .pt-cv-cap-w-img {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

#pt-cv-view-21bec10suv .pt-cv-title a, #pt-cv-view-21bec10suv .panel-title {
    font-family: 'Roboto', Arial, serif !important;
    font-size: 17px !important;
    line-height: 1.3 !important;
    color: #2b2b2b !important;
    display: block !important;
    text-align: center !important;
    clear: both !important;
}

#pt-cv-view-21bec10suv .pt-cv-title a:hover, #pt-cv-view-21bec10suv .panel-title:hover {
    font-family: 'Roboto', Arial, serif !important;
    font-size: 17px !important;
    line-height: 1.3 !important;
    color: #1b73b7 !important;
    display: block !important;
    text-align: center !important;
    clear: both !important;
}

#pt-cv-view-21bec10suv .pt-cv-hover-wrapper::before {
    background-color: rgba(0, 0, 0, .3) !important;
}

#pt-cv-view-21bec10suv .pt-cv-content-item:hover .pt-cv-hover-wrapper::before {
    background-color: rgba(51, 51, 51, .6) !important;
}

#pt-cv-view-21bec10suv:not(.pt-cv-nohover) .pt-cv-mask * {
    color: #fff;
}

#pt-cv-view-21bec10suv .pt-cv-carousel-caption {
    background-color: rgba(51, 51, 51, .6) !important;
}

#pt-cv-view-21bec10suv .pt-cv-specialp {
    background-color: #CC3333 !important
}

#pt-cv-view-21bec10suv .pt-cv-specialp * {
    color: #fff !important;
}

#pt-cv-view-21bec10suv .pt-cv-pficon {
    color: #bbb !important;
}

#pt-cv-view-21bec10suv .add_to_cart_button, #pt-cv-view-21bec10suv .add_to_cart_button * {
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-21bec10suv .woocommerce-onsale {
    color: #ffffff !important;
    background-color: #ff5a5f !important;
}

#pt-cv-view-21bec10suv .pt-cv-readmore {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-21bec10suv .pt-cv-readmore:hover {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #00aeef !important;
}

#pt-cv-view-21bec10suv + .pt-cv-pagination-wrapper .pt-cv-more-inactive, #pt-cv-view-21bec10suv + .pt-cv-pagination-wrapper .pagination a {
    font-family: 'Roboto', Arial, serif !important;
    color: #3f3f3f !important;
    background-color: #ffffff !important;
}

#pt-cv-view-21bec10suv + .pt-cv-pagination-wrapper .pt-cv-more, #pt-cv-view-21bec10suv + .pt-cv-pagination-wrapper .pagination .active a {
    font-family: 'Roboto', Arial, serif !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    background-image: none;
}

[id^='pt-cv-filter-bar-21bec10suv'] .active.pt-cv-filter-option, [id^='pt-cv-filter-bar-21bec10suv'] .active .pt-cv-filter-option, [id^='pt-cv-filter-bar-21bec10suv'] .selected.pt-cv-filter-option, [id^='pt-cv-filter-bar-21bec10suv'] .dropdown-toggle {
    color: #fff !important;
    background-color: #00aeef !important;
}

[id^='pt-cv-filter-bar-21bec10suv'] .pt-cv-filter-title {
    color: #fff !important;
    background-color: #00aeef !important;
}

#pt-cv-gls-21bec10suv li a.pt-active {
    color: #fff !important;
    background-color: #ff5a5f !important;
}

#pt-cv-view-21bec10suv .pt-cv-gls-header {
    color: #fff !important;
    background-color: #00aeef !important;
}

@media only screen and (max-width: 1000px) {
    .stellarnav > ul > li > a {
        padding: 20px 23px;
    }
}

@media only screen and (max-width: 960px) {
    li .fa-chevron-down {
        display: none;
    }

    .page h1.title {
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
    }

    .stellarnav > ul li ul {
        border: none;
    }
}

@media only screen and (max-width: 800px) {
    .home-category img {
        padding: 8px 6px 0px 6px;
    }
}
